.community {
  .inner {
    .inputBox {
      width: 100%; padding: 50px; margin-bottom: 50px; border: 1px solid #aaa;
    } 

    .showBox {
      width: 100%; padding: 50px; border: 1px solid #aaa;
    }
   
  }
}